[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "lsa"]
	path = lsa
	url = https://github.com/cran/lsa
	shallow = true
	registered = true
